<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div id="background-wrapper"><canvas id="background"></canvas></div>
    <div class="container info">
      <div id="general-nav">
        <h1 id="nav-title">{{ page.title }}</h1>
        <h3 id="nav-links"><a href="/">back</a></h3>
        <div class="fake-border" style="clear: both"></div>
      </div>
      <div class="content">
        <p>
          {{ content }}
        </p>
      </div>
    </div>
  </body>
  {% for f in page.addjs %}
       <script type="text/javascript" src="{{ f }}">
       </script>
  {% endfor %}
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

  <script>hljs.initHighlightingOnLoad();</script>

  {% include background_script.html %}
</html>

