---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div id="background-wrapper"><canvas id="background"></canvas></div>
    <div class="container">
      <div id="index-nav">
        <div id="nav-marquee">
          <div id="nav-header-wrapper">
            <h1>Max Daniels</h1>
            <div id="nav-marquee-border" class="fake-border"></div>
          </div>
          <div id="nav-marquee-text">
            <p>I am an undergraduate student at Northeastern University studying Mathematics, Computer Science, and Physics.</p>
          </div>
        </div>
        <div id="nav-elements-wrapper">
          <ul id="nav-elements">
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/assets/MaxDaniels.pdf">CV</a></li>
          </ul>
        </div>
        <div id="nav-mobile-elements-wrapper">
          <p id="nav-mobile-elements">
            <a href="/about">About</a> : <a href="/blog">Blog</a> : <a href="/contact">Contact</a> : <a href="/assets/MaxDaniels.pdf">CV</a>
          </p>
        </div>
      </div>
    </div>
  </body>
  {% include background_script.html %}
</html>
